.app {
  background: #141414;
  /* color: #fff; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
}

/* .App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
} */
/* 
/* font-size: calc(10px + 2vmin); */
